MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.xxxxx.mongodb.net/
MONGODB_DB=ayuda_logistica
JWT_SECRET=cambia_esto_por_32_chars_minimo_en_prod_xxxx
JWT_EXPIRE_MIN=480
CORS_ORIGINS=["http://localhost:5173"]
ENVIRONMENT=development
